@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #072a61;
  --color-white: #ddd;
  --transition: all 400ms ease;
}
a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}
